body{
   
    margin: auto;
}
.container-fluid{
    padding: 0;
    
}

#container-fluid{
    background-color:#262526;
}


/*----------CORES--------------------*/

.navbar-brand,
#card-clocks h6,
#title,
#card-2,
#highlights h4{
    color: #c19579;
}
#highlights button,
#header,
#card-1,
#footer-newsletter{
    background-color: black;

}
/*--------------NAVEGAÇÃO--------------*/
#header{
    margin: auto;
}
.navbar-brand:hover{
    color: beige;
    transition: .5s;
}
#navbar-header{
    width: 100%;
}

.navbar-toggler{
    border: none;
}


#navbar-header,
#card-2{
    background-color: #c19579;
}

#icons-header li{
    color: #fff;
}

#card-3 a{
    color: black;
}

@media (max-width: 576px) 
{
    
    #header,
    #header-content,
    #navbar-header{
        width: 100%;
    }
    #header-content{
        height: 200px;

    }
    #navbarNavAltMarkup{
        text-align: center;
    }
    #icons-header{
        position: absolute;
        bottom: 0px;
        right: 20px;
        margin: 10px auto;
    }
   
}
/*----------------HEADER--------------*/
.icons-items li{
    padding-inline: 10px;
}

.custom-search form{
    display: inline-block;
    position: relative;
}

.custom-search-input{
    width: 400px;
    border: none ;
    border: 2px #c19579 solid;
    background-color: black;
}

.bi-search,
.bi-envelope{
    position: absolute;
    top: 12px;
    left: 12px; 
}

.bi-search,
.bi-person,
.bi-suit-heart,
.bi-bag,
.bi-envelope{
    color: #c19579;
    padding-right: 2px;
}

.custom-search input::placeholder{
    color: white;
    padding-left: 2rem;
}
.custom-search button{
    position: absolute;
    border: 2px #c19579 solid;
    background-color: black;
    color: white;
    border-radius: 3px;
    right: 4px;
    top: 7px;
}

@media (max-width: 576px) 
{
    #header{
        position: relative;
    }
    #header-content .custom-search{
        position: absolute;
        top: 50%;
        left: calc(50% - 200px);
        max-width: 376px;

    }

}

/*-----------CAROUSEL--------------*/
.carousel{
   
    /*width: 80%;*/
    margin: auto;
}

.carousel-caption{
    background-color: black;
    bottom:60px;
}

@media (min-width: 425px) 
{
    .carousel{
        max-width: 100%;
    }

}
/*-----------AMOSTRAS--------------*/

.card-resume{
    height: 250px;
    width: 300px;
    bottom: 50px;

}

#card-3{
    background-color: #fcf5ec;
}

#demo-clocks{
    width: 1000px;
}
#demo-clocks a{
    bottom: 15px;
    left: 25px;
}

#demo-clocks h2{
    width: 40px;
    left: 0;
    top: 0;
}
#demo-clocks img{
    bottom: 20px;
    right: 15px;
    max-width: 250px;
    max-height: 200px;
}
@media (max-width: 576px) 
{
    .card-resume{
        width: auto;
        bottom: 0;
    }
    #demo-clocks{
        max-width: 100%;
        
    }
    #cards{
        flex-direction: column;
        padding: 0;

    }

}

/*--------------best sellers-----------*/
#card{
    display: flex;
    background-color:#262526;
    width: 300px;
}


#card-clocks h2{
    font-weight:900;
}


#card-clocks img {
    max-width: 250px;
    max-height: 200px;
}



#card-clocks img{
    
    max-width: 200px;
    max-height: 250px;
}
.btn-dark{
    border-color: #c19579;
}

@media (max-width: 576px) 
{
    #card-clocks .card-group{
        padding: 0;
        margin: 0;
    }
    #card{
        width: auto;
        padding: 0;
        margin: 0;

    }
    #card-clocks h2{
        text-align: center;
    }
}
/*-----------DESCONTO------------------*/
#highlights {
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: black;
}

#highlights h2{
    font-weight: 900p;
}

#highlights img{
    max-width: 400px;
    height: 400px;
}

#highlights h2{
    font-size: 100px;   
}
@media (max-width: 576px) 
{
    #highlights {
        height: auto;
    }
    #highlights .d-flex{
        padding: 50px 0;
        flex-direction: column;
    }
    #highlights h2{
        font-size: 50px;
    }
    #highlights img{
        padding-top: 30px;
    }
}

/*--------------NOVIDADES-----------------*/
#news-aside {
    background-color: #000;
}
#news-container h2{
    font-weight: 900;
}

.news-content {
    margin-top: 300px;
    height: 450px;
}

@media (max-width: 576px) 
{
    #news-container h2{ text-align: center;}
    #news-aside{
        display: none;
    }
}

/*-----------CONTATOS--------------------*/


.img-card img{
    float: left;
    height: 200px;
    border: 2px black solid;
    
}
#contact-container .card{
    border-radius: 0;
    height: 70vh;
    background-color: #262526;
}

#contact-container h2{
    color: #FFF;
    text-transform: uppercase;
}

@media (max-width: 576px) 
{
    .img-card{
    
        background-color: red;
    }

    #contact-container .card-footer{

    }

    #contact-container .card{
        height: auto;
        margin-bottom: 0;
    }

    #contact-container .img-card{
        height: 200px;
    }
    #img1 {
        order: 1;
    }
    #img2 {
        order: 2;
    }
    #img3{
        order: 3;
    }
    #img4{
        order: 4;
    }
}


/*------------------NEWSLETTER--------------------------*/
#form-input{
    height: 300px;
}

#form-input p{
    text-align: center;
    margin-top: 100px;
}

#footer-newsletter{
    width: 100vw;
    border-top: 1px #fff solid;
}
#footer-newsletter input{
    background-color: #000;
}

#icons-contact i{
    padding: 10px;
    font-size: larger;
}

.footer{
    border-top: 1px #fff solid;
    height: 70px;
    color: #FFF;
}
.footer p{
    padding-top: 20px;
    text-align: center;
}
#exact-color{
    color: #c19579;
}



input {
    color:white;
  }